@model IDGS902_Tema1.Models.Calculos

@{
    ViewBag.Title = "OperasBas2";
}

<h2>OperasBas2</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form action="/" method="post">
                <label>Numero 1:</label>
                <input type="text" name="Num1" />
                <br />
                <label>Numero 2:</label>
                <input type="text" name="Num2" />
                <br />
                <label>Operacion:</label><br />
                <label>
                    <input type="radio" name="Opera" value="1"> Suma
                </label><br />
                <label>
                    <input type="radio" name="Opera" value="2"> Resta
                </label><br />
                <label>
                    <input type="radio" name="Opera" value="3"> Multiplicacion
                </label><br />
                <label>
                    <input type="radio" name="Opera" value="4"> Division
                </label><br />
                <input type="submit" name="name" value="Calcular" />
            </form>
        </div>
        <div class="col-lg-6">
            <h1>El resultado es: @ViewBag.Res</h1>
            <h1>El resultado es: @Html.DisplayFor(model=>model.Res)</h1>
        </div>
    </div>
</div>
